In [33]:
import numpy as np  
import matplotlib.pyplot as plt 
import pandas as pd 
import math

In [5]:
from google.colab import drive

In [7]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
cd /content/drive/"My Drive/Colab Notebooks/Linear regression"

/content/drive/My Drive/Colab Notebooks/Linear regression

In [9]:
dataset = pd.read_csv('insurance1.csv')

In [22]:
dataset.head()

   age  sex  healthy  children  smoker  region
0   19    0        1         0       1       3
1   18    1        1         1       0       2
2   28    1        0         3       0       2
3   33    1        0         0       0       1
4   32    1        1         0       0       1

In [23]:
dataset.describe()

              age         sex     healthy    children      smoker      region
count  348.000000  348.000000  348.000000  348.000000  348.000000  348.000000
mean    39.591954    0.508621    0.508621    1.091954    0.232759    1.497126
std     14.417015    0.500646    0.500646    1.192021    0.423198    1.104089
min     18.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%     27.000000    0.000000    0.000000    0.000000    0.000000    1.000000
50%     40.000000    1.000000    1.000000    1.000000    0.000000    2.000000
75%     53.000000    1.000000    1.000000    2.000000    0.000000    2.000000
max     64.000000    1.000000    1.000000    5.000000    1.000000    3.000000

In [24]:
dataset.shape

(348, 6)

In [25]:
training = dataset.values[:,0:4]
training

array([[19,  0,  1,  0],
       [18,  1,  1,  1],
       [28,  1,  0,  3],
       ...,
       [34,  0,  1,  3],
       [33,  1,  1,  2],
       [46,  1,  0,  1]])

In [26]:
trainingclass = dataset.values[:,-2]
trainingclass

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [27]:
trainingclass.shape

(348,)

In [28]:
def euclidean_distance(d1,d2):
    distance=0.0
    for i in range(len(d1)):
        distance+=(d1[i]-d2[i])**2
    return math.sqrt(distance)

In [34]:
unique_list=[0,1]
'''for x in trainingclass:
    if x not in unique_list:
        unique_list.append(x)

print(unique_list)'''

for i in range(len(trainingclass)):
    for k in range(len(unique_list)):
        if(trainingclass[i] == unique_list[k]):
            trainingclass[i]=k

print(trainingclass)

[1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 1 0 0
 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 1 0 1 1 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0
 0 0 0 0 0 0 0 0 1 0 1 1 1 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 0 0 1 0
 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0
 0 0 0 0 0 1 0 0 1 1 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0 0 1 0 0 0 0 0 1 1 1 0 1 0 1 0 0
 1 0 1 1 1 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0
 1 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 1 1 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]

In [35]:
distance=[]
for i in range(len(training)):
    distance.append([euclidean_distance(training[i],training[0]),trainingclass[i]])
print(distance)

[[0.0, 1], [1.7320508075688772, 0], [9.591663046625438, 0], [14.071247279470288, 0], [13.038404810405298, 0], [12.041594578792296, 0], [27.018512172212592, 0], [18.275666882497067, 0], [18.16590212458495, 0], [41.0, 0], [6.082762530298219, 0], [43.0, 1], [4.123105625617661, 0], [37.013511046643494, 0], [8.12403840463596, 1], [1.7320508075688772, 0], [33.015148038438355, 0], [4.242640687119285, 0], [37.013511046643494, 0], [11.090536506409418, 1], [41.0, 0], [11.090536506409418, 0], [1.4142135623730951, 0], [15.033296378372908, 1], [18.138357147217054, 0], [40.11234224026316, 0], [44.01136216933077, 0], [36.05551275463989, 0], [4.242640687119285, 0], [12.24744871391589, 1], [3.1622776601683795, 1], [1.0, 0], [5.0, 0], [44.02272140611028, 0], [9.1104335791443, 1], [1.0, 0], [43.116122274620196, 0], [7.0710678118654755, 0], [16.09347693943108, 1], [41.012193308819754, 1], [5.0990195135927845, 0], [12.206555615733702, 0], [22.045407685048602, 0], [18.138357147217054, 0], [19.078784028338912, 0], [36.02776706930364, 0], [2.449489742783178, 0], [9.0, 0], [41.012193308819754, 0], [17.05872210923198, 1], [1.0, 0], [2.8284271247461903, 0], [29.03446228191595, 1], [17.029386365926403, 1], [21.236760581595302, 0], [39.06404996924922, 1], [39.05124837953327, 0], [2.6457513110645907, 1], [34.0147027033899, 1], [15.165750888103101, 0], [24.228082879171435, 0], [7.3484692283495345, 0], [45.02221673796171, 0], [9.1104335791443, 0], [1.4142135623730951, 1], [0.0, 0], [42.04759208325728, 0], [21.071307505705477, 0], [21.02379604162864, 0], [9.539392014169456, 1], [8.06225774829855, 1], [13.038404810405298, 0], [34.14674215792775, 0], [39.02563260217571, 0], [25.099800796022265, 0], [38.01315561749642, 0], [10.04987562112089, 0], [2.23606797749979, 0], [3.0, 0], [22.0, 0], [12.12435565298214, 0], [26.0, 0], [3.3166247903554, 1], [29.29163703175362, 0], [18.110770276274835, 1], [26.095976701399778, 1], [38.01315561749642, 1], [37.013511046643494, 0], [27.0, 0], [36.0, 0], [2.23606797749979, 0], [34.0147027033899, 0], [40.13726448077895, 1], [16.15549442140351, 0], [45.044422518220834, 1], [9.055385138137417, 0], [35.14256678161116, 0], [36.013886210738214, 0], [37.013511046643494, 1], [19.026297590440446, 1], [22.0, 0], [11.090536506409418, 0], [1.0, 0], [42.118879377305376, 1], [15.033296378372908, 0], [2.0, 1], [1.4142135623730951, 0], [7.416198487095663, 0], [10.04987562112089, 0], [44.01136216933077, 1], [35.02855977627399, 0], [36.069377593742864, 0], [18.05547008526779, 0], [2.0, 0], [33.15116890850155, 0], [41.02438299353203, 0], [39.02563260217571, 0], [10.099504938362077, 1], [30.0, 0], [18.138357147217054, 0], [25.11971337416094, 0], [1.4142135623730951, 0], [1.0, 0], [25.03996805109783, 1], [28.160255680657446, 0], [7.0, 0], [1.0, 1], [33.015148038438355, 0], [13.19090595827292, 1], [19.157244060668017, 0], [40.0, 0], [42.01190307520001, 0], [34.07345007480164, 0], [1.4142135623730951, 0], [1.4142135623730951, 0], [3.0, 0], [1.0, 0], [3.1622776601683795, 0], [35.12833614050059, 0], [3.1622776601683795, 0], [15.165750888103101, 0], [7.14142842854285, 0], [15.198684153570664, 1], [10.246950765959598, 0], [11.489125293076057, 1], [10.488088481701515, 0], [27.202941017470888, 1], [32.03123475609393, 0], [34.02939905434711, 0], [1.7320508075688772, 0], [16.09347693943108, 0], [29.03446228191595, 0], [13.341664064126334, 0], [23.0, 1], [21.047565179849187, 0], [25.019992006393608, 0], [29.03446228191595, 1], [1.4142135623730951, 1], [11.090536506409418, 1], [31.160872901765767, 0], [23.021728866442675, 1], [1.4142135623730951, 1], [35.02855977627399, 0], [13.152946437965905, 0], [18.05547008526779, 0], [28.30194339616981, 0], [5.196152422706632, 0], [13.341664064126334, 0], [1.4142135623730951, 0], [8.660254037844387, 0], [44.01136216933077, 0], [30.01666203960727, 0], [1.7320508075688772, 0], [16.06237840420901, 0], [5.0990195135927845, 0], [44.0, 1], [19.131126469708992, 0], [35.02855977627399, 0], [27.073972741361768, 0], [22.22611077089287, 0], [39.02563260217571, 0], [1.4142135623730951, 0], [4.358898943540674, 0], [25.0, 0], [25.11971337416094, 0], [17.291616465790582, 1], [7.3484692283495345, 0], [11.445523142259598, 0], [22.045407685048602, 0], [10.198039027185569, 0], [42.01190307520001, 0], [17.0, 0], [6.082762530298219, 0], [37.027017163147235, 0], [1.7320508075688772, 0], [1.4142135623730951, 0], [20.0, 0], [26.076809620810597, 0], [32.0, 0], [45.0111097397076, 0], [1.0, 0], [29.017236257093817, 0], [41.012193308819754, 0], [8.0, 1], [27.018512172212592, 0], [9.055385138137417, 0], [40.01249804748511, 0], [16.15549442140351, 1], [44.01136216933077, 0], [21.071307505705477, 0], [1.7320508075688772, 0], [21.400934559032695, 0], [5.5677643628300215, 0], [15.066519173319364, 0], [26.076809620810597, 0], [22.11334438749598, 0], [34.0147027033899, 0], [8.12403840463596, 0], [7.0710678118654755, 0], [5.0990195135927845, 0], [15.066519173319364, 0], [34.0147027033899, 0], [13.416407864998739, 0], [1.4142135623730951, 1], [23.021728866442675, 1], [36.15245496505044, 0], [9.055385138137417, 0], [39.0, 0], [22.045407685048602, 0], [28.106938645110393, 0], [23.043437243605826, 0], [40.11234224026316, 0], [0.0, 0], [40.024992192379, 0], [20.149441679609886, 0], [21.095023109728988, 1], [1.4142135623730951, 0], [12.206555615733702, 0], [1.0, 1], [25.03996805109783, 0], [4.47213595499958, 1], [14.071247279470288, 0], [36.013886210738214, 0], [21.2602916254693, 0], [44.01136216933077, 1], [35.02855977627399, 0], [41.0, 0], [5.196152422706632, 0], [1.4142135623730951, 0], [10.099504938362077, 0], [2.449489742783178, 1], [44.05678154382138, 1], [35.08560958569767, 1], [8.660254037844387, 0], [31.016124838541646, 1], [36.124783736376884, 0], [37.027017163147235, 1], [19.026297590440446, 0], [32.28002478313795, 0], [1.4142135623730951, 1], [39.01281840626232, 0], [1.7320508075688772, 1], [33.15116890850155, 1], [1.4142135623730951, 1], [34.14674215792775, 0], [27.184554438136374, 1], [21.071307505705477, 1], [40.11234224026316, 0], [26.057628441590765, 0], [30.04995840263344, 0], [1.7320508075688772, 0], [31.096623610932426, 1], [22.11334438749598, 0], [31.0322412983658, 0], [6.082762530298219, 0], [28.089143810376278, 0], [2.23606797749979, 0], [3.1622776601683795, 0], [40.06245124802026, 0], [32.03123475609393, 0], [21.02379604162864, 1], [35.156791662493895, 1], [11.135528725660043, 0], [36.02776706930364, 0], [33.015148038438355, 0], [27.03701166919155, 0], [27.073972741361768, 0], [44.0, 0], [40.024992192379, 1], [33.166247903554, 0], [9.0, 0], [10.14889156509222, 0], [6.4031242374328485, 1], [3.1622776601683795, 0], [6.782329983125268, 0], [1.4142135623730951, 0], [1.4142135623730951, 1], [28.053520278211074, 1], [12.409673645990857, 1], [29.03446228191595, 0], [17.320508075688775, 0], [34.14674215792775, 1], [37.05401462729781, 0], [9.219544457292887, 0], [38.06573262134856, 0], [10.246950765959598, 0], [9.273618495495704, 0], [11.090536506409418, 0], [39.01281840626232, 0], [22.090722034374522, 0], [31.016124838541646, 0], [1.0, 0], [24.20743687382041, 1], [30.01666203960727, 0], [8.0, 1], [33.03028912982749, 0], [31.0322412983658, 0], [35.014282800023196, 0], [25.0, 0], [13.076696830622021, 0], [15.0996688705415, 0], [8.12403840463596, 0], [15.066519173319364, 1], [38.01315561749642, 0], [10.099504938362077, 0], [21.047565179849187, 0], [8.12403840463596, 0], [26.115129714401192, 1], [45.0111097397076, 1], [33.015148038438355, 0], [42.01190307520001, 1], [33.03028912982749, 1], [42.0, 0], [37.0, 0], [24.1039415863879, 0], [45.0111097397076, 0], [41.02438299353203, 0], [43.02324952859791, 0], [31.04834939252005, 1], [27.018512172212592, 0], [5.0990195135927845, 0], [43.02324952859791, 0], [41.012193308819754, 0], [44.01136216933077, 0], [30.265491900843113, 0], [15.297058540778355, 0], [14.177446878757825, 0], [27.055498516937366, 0]]

In [36]:
nearest_neighbour = 5

In [37]:
identify=[0 for i in range(len(unique_list))]
for i in range(nearest_neighbour):
    identify[distance[i][1]]=identify[distance[i][1]]+1
print(identify)

[4, 1]

In [39]:
res=unique_list[identify.index(max(identify))]
if(res==0):
  print("The Predicted Class is person is not smoker")
else:
  print("The Predicted Class is person is smoker")

The Predicted Class is person is not smoker