In [1]:
import numpy as np  
import matplotlib.pyplot as plt 
import pandas as pd 
import math

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
cd /content/drive/"My Drive/Colab Notebooks/Linear regression"

/content/drive/My Drive/Colab Notebooks/Linear regression

In [18]:
features = pd.read_csv("temps.csv")
features.head(10)

   year  month  day   week  ...  forecast_noaa  forecast_acc  forecast_under  friend
0  2016      1    1    Fri  ...             43            50              44      29
1  2016      1    2    Sat  ...             41            50              44      61
2  2016      1    3    Sun  ...             43            46              47      56
3  2016      1    4    Mon  ...             44            48              46      53
4  2016      1    5   Tues  ...             46            46              46      41
5  2016      1    6    Wed  ...             43            49              48      40
6  2016      1    7  Thurs  ...             45            49              46      38
7  2016      1    8    Fri  ...             43            47              46      34
8  2016      1    9    Sat  ...             46            50              45      47
9  2016      1   10    Sun  ...             45            48              48      49

[10 rows x 12 columns]

In [19]:
features.shape
features.describe()

         year       month         day  ...  forecast_acc  forecast_under      friend
count   348.0  348.000000  348.000000  ...    348.000000      348.000000  348.000000
mean   2016.0    6.477011   15.514368  ...     62.373563       59.772989   60.034483
std       0.0    3.498380    8.772982  ...     10.549381       10.705256   15.626179
min    2016.0    1.000000    1.000000  ...     46.000000       44.000000   28.000000
25%    2016.0    3.000000    8.000000  ...     53.000000       50.000000   47.750000
50%    2016.0    6.000000   15.000000  ...     61.000000       58.000000   60.000000
75%    2016.0   10.000000   23.000000  ...     72.000000       69.000000   71.000000
max    2016.0   12.000000   31.000000  ...     82.000000       79.000000   95.000000

[8 rows x 11 columns]

In [20]:
features = pd.get_dummies(features)     #change from categorical to numerical

In [21]:
features.shape

(348, 18)

In [22]:
labels=np.array(features['actual'])

In [23]:
features=features.drop('actual',axis=1)

In [24]:
features

     year  month  day  temp_2  ...  week_Sun  week_Thurs  week_Tues  week_Wed
0    2016      1    1      45  ...         0           0          0         0
1    2016      1    2      44  ...         0           0          0         0
2    2016      1    3      45  ...         1           0          0         0
3    2016      1    4      44  ...         0           0          0         0
4    2016      1    5      41  ...         0           0          1         0
..    ...    ...  ...     ...  ...       ...         ...        ...       ...
343  2016     12   27      42  ...         0           0          1         0
344  2016     12   28      42  ...         0           0          0         1
345  2016     12   29      47  ...         0           1          0         0
346  2016     12   30      48  ...         0           0          0         0
347  2016     12   31      48  ...         0           0          0         0

[348 rows x 17 columns]

In [25]:
feature_list=list(features.columns)
features=np.array(features)
features

array([[2.016e+03, 1.000e+00, 1.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [2.016e+03, 1.000e+00, 2.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [2.016e+03, 1.000e+00, 3.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       ...,
       [2.016e+03, 1.200e+01, 2.900e+01, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       [2.016e+03, 1.200e+01, 3.000e+01, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [2.016e+03, 1.200e+01, 3.100e+01, ..., 0.000e+00, 0.000e+00,
        0.000e+00]])

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
train_features,test_features,train_labels,test_labels=train_test_split(features,labels,test_size=0.25,random_state=42)

In [28]:
test_labels.shape

(87,)

In [29]:
from sklearn.ensemble import RandomForestRegressor

In [30]:
rf=RandomForestRegressor(n_estimators=1000,random_state=42)
rf.fit(train_features,train_labels)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [31]:
predictions=rf.predict(test_features)
predictions

array([69.857, 61.319, 51.891, 61.321, 66.463, 70.162, 78.848, 75.786,
       62.121, 74.078, 63.647, 72.176, 38.472, 62.433, 71.594, 56.012,
       60.943, 56.995, 56.748, 76.113, 63.758, 54.401, 66.493, 62.468,
       58.786, 53.032, 66.769, 46.448, 62.122, 80.176, 73.833, 64.313,
       55.188, 81.972, 74.178, 61.695, 53.636, 51.424, 68.929, 42.452,
       70.385, 57.373, 76.172, 42.396, 61.098, 74.08 , 52.745, 81.369,
       53.325, 42.487, 46.507, 42.144, 64.17 , 65.709, 74.13 , 61.339,
       55.177, 59.945, 54.651, 59.664, 65.491, 50.052, 60.849, 70.188,
       60.062, 59.236, 71.743, 69.796, 76.83 , 41.32 , 76.868, 56.783,
       60.378, 50.519, 54.426, 64.003, 43.711, 74.354, 47.306, 52.326,
       53.526, 68.21 , 73.607, 72.658, 63.243, 57.175, 46.04 ])

In [32]:
errors=abs(predictions-test_labels)

In [33]:
mape=100*(errors/test_labels)
mean_error=np.mean(mape)

In [34]:
accuracy=100-mean_error
accuracy

93.9325320799977

In [35]:
from sklearn.tree import export_graphviz
import pydot

In [36]:
tree=rf.estimators_[5]
export_graphviz(tree,out_file='tree.dot',feature_names=feature_list,rounded=True,precision=1)

In [37]:
(graph,)=pydot.graph_from_dot_file('tree.dot')
graph.write_png('tree.png');